/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app
/storage/logs
/vendor
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
!.gitkeep
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/assets/js/Router.js