$azul_oscuro: #040f19;
$azul_medio: #021C36;
$texto_footer: #09C;
$azul_principal: rgba(51, 122, 183, 1);
$gris_tenue: rgba(251, 254, 249, 1);
$blanco: rgba(255, 255, 255, 1);
$verde_aqua: rgba(132, 220, 198, 1);
$verde_menta: rgba(165, 255, 214, 1);