@import '_variables';
/* footer */
.footer_parte_azul_sup{
    background-color: $azul_oscuro;
    height: 80px;
    margin-top: 30px;
}

.footer_parte_azul_cent{
    background-color: $azul_medio;
    height: 230px;  
}


.footer_parte_azul_inf{
    background-color: $azul_oscuro; 
    height: 158px;
}

/* footer logo acreditacion */
@media screen and (max-width:991px){
    .logo_ac_footer{    
        margin:auto;
        padding: auto;
    }

    /* footer menu */
    #menu_footer{
        margin-top: 20px;
        padding: 0;
        text-align: center;
        }

    #menu_footer li{  
        display: inline;    
        list-style-type:none;
        color:white;
        vertical-align:middle;
        }

    #menu_footer li a{
        font-family: 'Open Sans', sans-serif;
        font-size: 8px;
        color: white;
        }

    #menu_footer li a:focus{
        font-family: 'Open Sans', sans-serif;
        font-size: 8px;
        color: white;
        }

    /*texto final footer*/

    .texto_footer{
    margin-top: 45px;
    color: $texto_footer;
    font-size: 10px;
    text-align: center;
    }
}

.logo_ac_footer_grande{
    margin-top: 10px;
} 

.cuadro_footer_1{
    font-family: Oswald;
    font-size: 15px;
    color: $texto_footer;
    border-right:1px solid #369;
    margin-top: 30px;
}

.titulo_cuadro_footer{
    font-family: Oswald;
    font-size: 15px;
    color: $texto_footer;
}

.texto_cuadro_footer{
    font-family: Open Sans;
    font-size: 12px;
    color: white;
}

.cuadro_footer_2{
    font-family: Oswald;
    font-size: 15px;
    color: $texto_footer;
    margin-top: 30px;
}

@media screen and (min-width:560px){
    #menu_footer li a{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: white;
    }

    #menu_footer li a:focus{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: white;
    }

    .texto_footer{
        margin-top: 5px;
        color: $texto_footer;
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (min-width:992px){
    .contenedor_imagenes_footer{
        display: inline;
    }

    .contenedor_log_gob{
        z-index:100; 
        float: right;
        top:-22px;
    }

    .logo_gob_grande{
        float: right;
        margin-top: 38px;
    }

    #menu_footer{
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 0;
        text-align: left;
        }

    #menu_footer li{        
        display: inline;    
        list-style-type:none;
        color:white;
        vertical-align:middle;
        }

    .texto_footer{
        margin-top: 45px;
        color: $texto_footer;
        font-size: 12px;
        text-align: left;
    }
}

.rs_footer_left{    
    margin: -8px 0 0 15px;
}

.rs_footer_centro{  
    margin: -8px 5px 0 5px;
}

.rs_footer_right{   
    margin: -8px 0 0 1px;
}

.texto_rs_footer{
    font-family: Oswald; 
    color: white;    
    display: inline-block;
    padding-top:30px; 
}

@media screen and (max-width:1200px){
    .texto_rs_footer {
        color: white;
        display: inline-block;
        padding-top: 27px;
    }
}